# Ignore virtual environment
venv/
# Ignore build and dist directories
build/
dist/
*.spec
# Ignore the database and log files if they don't need versioning
*.db
*.log
# Ignore compiled Python files
__pycache__/
*.pyc
# Ignore any other system files
.DS_Store
Thumbs.db
